.row
  .col-lg-12

    .card.card-body
      .row
        .col-lg-8
          h4.card-title= label

        .col-lg-4.text-right

          a.btn.btn-outline-secondary.mr-2(href="#datasets/#{id}/edit")
            i.fa.fa-fw.fa-pencil
            | &nbsp;
            | Edit

          a.btn.btn-outline-danger(href="#datasets/#{id}/destroy")
            i.fa.fa-fw.fa-trash
            | &nbsp;
            | Destroy

        .col-lg-12
          hr

      .row
        .col-lg-12
          p.lead #{_s.numberFormat(count)} Items

      .row
        .col-lg-6
          a.btn.btn-lg.btn-outline-primary.w-100(href="#datasets/#{id}/capture")
            i.fa.fa-fw.fa-paperclip
            | &nbsp;
            | Knowledge Capture

        .col-lg-6
          a.btn.btn-lg.btn-outline-success.w-100(href="#datasets/#{id}/search")
            i.fa.fa-fw.fa-search
            | &nbsp;
            | Search

      .row.mt-3
        .col-lg-6
          a.btn.btn-lg.btn-outline-dark.w-100(href="#datasets/#{id}/graph")
            i.fa.fa-fw.fa-sitemap
            | &nbsp;
            | Graph

        .col-lg-6
          a.btn.btn-lg.btn-outline-success.w-100(href="#datasets/#{id}/export")
            i.fa.fa-fw.fa-cloud-download
            | &nbsp;
            | Export
