
//- Mixins

mixin arrayRow(attr)
  if data[attr]

    //- Array of objects
    if typeof(data[attr][0]) == 'object'
      tr
        td #{attr}:
        td
          a(data-click='toggle-aggegates') Show Elements
          | &nbsp; (#{data[attr].length} items)

      tr.aggregate-list(data-toggle='aggregates' style='display:none;')
        td
        td
          each obj in data[attr]
            a(data-relation=obj['@id'])= obj['@id']
            | , &nbsp;

    else
      tr
        td #{attr}:
        td #{data[attr].join(', ')}

mixin attrRow(attr)
  if data[attr]
    tr
      td #{attr}:
      td #{data[attr]}

mixin idRow(attr)
  if data[attr]
    tr
      td #{attr}:
      td
        a(data-relation=data[attr]['@id']) #{data[attr]['@id']}

mixin valueRow(attr)
  if data[attr]
    tr
      td #{attr}:
      td= data[attr]['@value']

//- Outputs attributes using mixins
//- if data.hasAggregates
//-   tr
//-     td aggregates:
//-     td
//-       a(data-click='toggle-aggegates') Show Aggregates
//-       | &nbsp; (#{data.aggregates.length} items)

//-   tr.aggregate-list(data-toggle='aggregates' style='display:none;')
//-     td
//-     td
//-       each file in data.aggregates
//-         a(data-aggregates=file)= file
//-         | , &nbsp;

//- // // // // //

//- TODO - array?
each val, key in data

  if Array.isArray(val)
    +arrayRow(key)

  else if typeof val == 'object'

    if val['@id']
      +idRow(key)

    if val['@value']
      +valueRow(key)

  else
    +attrRow(key)
