mixin confirmButton(opts)
  button.btn.w-50( type='button', data-click=opts.click, class=opts.css )
    if opts.icon
      i.fa.fa-fw( class=opts.icon )
      |&nbsp;
    = opts.text

//- // // // // //

.modal-body
  p.lead.mb-0(class=messageCss) !{message}

.modal-footer
  .w-100
    +confirmButton({ click: 'deny', css: denyCss, icon: denyIcon, text: denyText })
    +confirmButton({ click: 'confirm', css: confirmCss, icon: confirmIcon, text: confirmText })

