.row
  .col-xs-12
    h4.card-title= label

  .col-xs-12
    hr

.row
  .col-xs-12
    p.lead #{_s.numberFormat(count)} Items

  .col-xs-4
    a.btn.btn-success-outline.w-100(href="#datasets/#{id}/search")
      i.fa.fa-fw.fa-search
      | &nbsp;
      | Search

  .col-xs-4
    a.btn.btn-success-outline.w-100(href="#datasets/#{id}/analysis")
      i.fa.fa-fw.fa-cogs
      | &nbsp;
      | Analysis

  .col-xs-4
    a.btn.btn-primary-outline.w-100(href="#datasets/#{id}/config")
      i.fa.fa-fw.fa-paperclip
      | &nbsp;
      | Knowledge Capture

  //- .col-xs-6
  //-   p.lead Context
  //-   ul.list-group
  //-     each ctx, prefix in context
  //-       li.list-group-item
  //-         strong= prefix
  //-         br
  //-         = ctx
