.row
  .col-xs-8
    h4.card-title= label

  .col-xs-4.text-xs-right

    a.btn.btn-sm.btn-secondary.m-r-1(href="#datasets/#{id}")
      i.fa.fa-fw.fa-eye
      | &nbsp;
      | Show

    a.btn.btn-sm.btn-secondary.m-r-1(href="#datasets/#{id}/edit")
      i.fa.fa-fw.fa-pencil
      | &nbsp;
      | Edit

    a.btn.btn-sm.btn-danger-outline(href="#datasets/#{id}/destroy")
      i.fa.fa-fw.fa-trash
      | &nbsp;
      | Destroy

  .col-xs-12
    hr

.row
  .col-xs-12
    p.lead #{_s.numberFormat(count)} Items

  .col-xs-4
    a.btn.btn-primary-outline.w-100(href="#datasets/#{id}/capture")
      i.fa.fa-fw.fa-paperclip
      | &nbsp;
      | Knowledge Capture

  .col-xs-4
    a.btn.btn-success-outline.w-100(href="#datasets/#{id}/search")
      i.fa.fa-fw.fa-search
      | &nbsp;
      | Search

  .col-xs-4
    a.btn.btn-success-outline.w-100(href="#datasets/#{id}/export")
      i.fa.fa-fw.fa-cloud-download
      | &nbsp;
      | Export

  //- TODO - move to dataset show view
  //- .col-xs-6
  //-   p.lead Context
  //-   ul.list-group
  //-     each ctx, prefix in context
  //-       li.list-group-item
  //-         strong= prefix
  //-         br
  //-         = ctx
