.row
  .col-xs-8
    h4.card-title
      //- i.fa.fa-fw(class=icon)
      //- | &nbsp;
      | Rule Details

  .col-xs-4.text-xs-right
    button.btn.btn-sm.btn-secondary.m-r-1( data-click='edit' )
      i.fa.fa-fw.fa-pencil
      | &nbsp;
      | Edit

    button.btn.btn-sm.btn-danger-outline( data-click='destroy' )
      i.fa.fa-fw.fa-trash
      | &nbsp;
      | Destroy

  .col-xs-12
    hr

.row
  .col-xs-12
    //- p.lead Order: #{order}
    p.lead Enabled: #{enabled}
    //- p.lead Type: #{type}
    p.lead Target: #{target_property}

    hr

    p.lead Definitions: #{definitions.length}
